# (c) Cocktail
# Fichier de config de l'application Datte 
# Les parametres definis ici remplacent ceux
# definis dans la table GRHUM.GRHUM_PARAMETRES 

APP_USE_MAIL=YES
GRHUM_HOST_MAIL=mailhost.cocktail.org
ADMIN_MAIL=datte@cocktail.org
DOMAIN_NAME=cocktail.org

APP_ID=EDTSCOL
APP_ALIAS=Datte
APP_TITLE=DATTE
APP_USE_GEDFS=NO
APP_ULR=http://www.unimes.fr

TIMEZONE=Europe/Paris
OUVERTURE.DATE=23/06/2011
OUVERTURE.HEURE=09:00
FERMETURE.DATE=25/10/2012
FERMETURE.HEURE=17:00
MAX.RDV.SCOL=6

# Code RNE de l'établissement
DEFAULT_C_RNE=0301687W

STRUCTURE.CODE.GEST=1039

#repertoire qui contient les.jasper livres par l'application (celui de l'application)
#REP_BASE_JASPER_PATH=/opt/xxxxx/...../PreInscription/JRXMLS/
REP_BASE_JASPER_PATH=a definir

#repertoire qui contient les.jasper VOTRE BASE LOCALE
#REP_BASE_JASPER_PATH_LOCAL=/opt/xxxxx/local/...../PreInscription/JRXMLS/
REP_BASE_JASPER_PATH_LOCAL=a definir


#repertoire qui contient les.xls livres par l'application (celui de l'application)
#REP_BASE_XLS_PATH=/opt/xxxxx/...../PreInscription/XLS/
REP_BASE_XLS_PATH=a definir

#repertoire qui contient les.xls VOTRE BASE LOCALE
#REP_BASE_XLS_PATH_LOCAL=/opt/xxxxx/local/...../PreInscription/XLS/
REP_BASE_XLS_PATH_LOCAL=a definir

#Config SAUT + Modeles
#SAUT_URL = Adresse de votre serveur SAUT si vous en avez un 
#(du type http://www.univ-xxxxxx.fr/cgi-bin/WebObjects/SAUT.woa/wa/)
SAUT_URL=http://hippolyte.unimes.fr:1522/cgi-bin/WebObjects/SAUT.woa/wa/
SAUT_ID_TRANSLATION=GRHUM:GRHUM,ULOGIN:GRHUM,EDTSCOL:GRHUM,LMD:GRHUM,SCOL:GRHUM,DBA:GRHUM
NET_NO_PROXY_HOSTS=*.univ-xxxxx.fr

#Identification CAS
#utilisation de l'identification CAS
#APP_USE_CAS=(YES|NO)
CAS_SERVICE_URL=https://wallace.unimes.fr/cas
CAS_USE_CAS=YES
APP_USE_CAS=NO

# nathalie gauthey : 1
# angeline campos : 2580
# denise garcia : 4888
# vacat1 : 5187
# vacat2 : 5198
# melissa bertrand : 6379
# laurent burte : 6516
# maryline marlin 9034
# stéphanie roux-sablier : 14015
# brice quillerie : 17678 
# cecile nacef : 17702
#		System.out.println("N° individu ... " + getNoIndividu());
AUTORISES.NUMERO=1,2580,4888,5187,5198,6379,6516,9034,14015,17678,17702

MODE_DEBUG=true
