	<table>
	  <tr>
	    <th width="20%" align="left" class="nowrap">Nom 
	    <font color="red">
	      <sup>*</sup>
	    </font></th>
	    <td width="80%" align="left">
	      <webobject name="TFSrchNom" />
	    </td>
	  </tr>
	  <tr>
	    <th align="left" class="nowrap">Pr&#233;nom 
	    <font color="red">
	      <sup>*</sup>
	    </font></th>
	    <td align="left">
	      <webobject name="TFSrchPrenom" />
	    </td>
	    <td />
	  </tr>
	</table>
	<webobject name="BTRechercher" />
	<webobject name="MessageErreur"/>
<br />
<webobject name="RechercheCandidatContainer">
  <webobject name="CandidatsTableView"/>
  <webobject name = "hasResults">Si la personne ne figure pas dans la liste...<br />
    <webobject name = "CreateCandidat" />
  </webobject>
</webobject>
