<webobject name = "Wrapper">
 
 <webobject name = "isNotOpen">
	<br/><b><webobject name = "messageErreur"></webobject></b><br/> 
 </webobject>
 <webobject name = "isOpen">
  <webobject name = "Form">
	<webobject name = "CalendarContainer">
	<br/>
		<webobject name = "IfEtudiant">
			<b>Choisissez un créneau dans les créneau disponible ci dessous :</b>
		</webobject>
		
		<webobject name = "IfGestionnaire">
			<b>Choisissez un créneau dans les créneau disponible ci dessous ; vous pourrez y ajouter vos étudiants.</b>
		</webobject>
		<webobject name = "IfNotAutorise">
			<b>Vous n'ètes pas autorisé à utiliser cette application.</b>
		</webobject>
		<webobject name = "IfAutorise">
			<br/><br/>
		      <div id='calendar'></div>
		      <webobject name = "Calendar"></webobject>
		</webobject>
	</webobject>
  </webobject>
  
  <webobject name = "IfAutorise">
    <webobject name = "InspecteurBox"/>
 </webobject>
    
</webobject>
  <webobject name = "ExceptionModalDialog" />
</webobject>